<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1 class="center-text"> Movies You Love </h1>
    <p class="center-text"> Reviews of your favorite movies and what others are saying about them! </p>
    <p class="center-text"><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg btn-color" %></p>
  </div>
<% end %>

<div class="col-md-12">
    <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3 image">
      <div class="thumbnail thumb">
        <% if movie.picture %>
          <%= link_to (image_tag movie.picture, class: 'img-responsive'), movie %>
          <% end %>
      </div>
      <div>
        <h3><%= movie.title %></h3>
      </div>
    </div>
  <%end%>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
